
.icon-nav{
    position: relative;
    color: #FFFFFF8c;
}
.icon-nav:hover{
    color:white;
}

.circle{
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: white; 
    text-align: center;
    font-size: 12px;
    top: 10px;
    right: 90px;
}

/* style footer */
.footer{
    background-color: #025464:
}
.d-flex{
    position: static;
    buttom: 0;
}